{% extends '_base.html' %}
{% load static %}
{% load allauth i18n %}



{% block title %}{% trans "Change Password" %}{% endblock title %}

{% block content %}

<body class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="w-full max-w-md p-6 bg-white rounded-md shadow-md">
        <h1 class="text-3xl font-semibold text-center text-gray-800 mb-6">{% trans "Change Password" %}</h1>

        <form method="POST" action={% url 'account_change_password'%} class="space-y-4">
            {% csrf_token %}
            {{ redirect_field }}

            <!-- Password Saat Ini -->
            <div>
                <label for={{form.oldpassword.id_for_label}} class="block text-gray-700 text-sm font-medium mb-2">Kata Sandi Saat Ini:</label>
                <input type="password" id={{form.oldpassword.id_for_label}} name={{form.oldpassword.name}} placeholder="Masukkan kata sandi saat ini" class="appearance-none border border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500" required>
            </div>
            <!-- Password Saat Ini -->

            <!-- Password Baru -->
            <div>
                <label for={{form.password1.id_for_label}} class="block text-gray-700 text-sm font-medium mb-2">Kata Sandi Baru:</label>
                <input type="password" id={{form.password1.id_for_label}} name={{form.password1.name}} placeholder="Masukkan kata sandi baru" class="appearance-none border border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500" required>
            </div>
            <!-- Password Baru -->
    
            <!-- Konfirmasi Password Baru -->
            <div>
                <label for={{form.password2.id_for_label}} class="block text-gray-700 text-sm font-medium mb-2">Verifikasi Kata Sandi Baru:</label>
                <input type="password" id={{form.password2.id_for_label}} name={{form.password2.name}} placeholder="Masukkan kembali kata sandi baru" class="appearance-none border border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500" required>
            </div>
            <!-- Konfirmasi Password Baru -->

            <!--  -->
            <div class="text-sm text-gray-600 mb-4">
                <p class="font-medium">Kata sandi harus memenuhi syarat berikut:</p>
                <ul class="list-disc list-inside">
                    <li>Sandi Anda tidak dapat terlalu mirip dengan informasi pribadi Anda.</li>
                    <li>Kata sandi Anda harus memuat setidaknya 8 karakter.</li>
                    <li>Sandi Anda tidak dapat berupa sandi yang umum digunakan.</li>
                    <li>Sandi Anda tidak bisa sepenuhnya numerik.</li>
                </ul>
            </div>



            <div class="flex justify-between items-center mt-6">
            <button type="submit" class="w-full bg-blue-500 hover:bg-blue-600 text-white font-medium py-2 px-4 rounded focus:outline-none focus:ring-2 focus:ring-blue-500">
                {% trans "Confirm" %}
            </button>
            </div>
            <div class="text-center mt-4">

            <a class="text-blue-500 hover:text-blue-700" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </div>
        </form>
    </div>
</body>
{% endblock content %}

